<h1>Personagens MARVEL</h1>

@model Personagem
@foreach (var item in ViewBag.Personagens)
{
<div style="overflow: hidden; margin-top: 50px;">
    <div style="float: left; margin-right: 50px;">
        <img src="@item.UrlImagem" height="200" width="200" />
    </div>
    <div style="margin-left: 50px;">
        <h2><a href="@item.UrlWiki">@item.Nome</a></h2>
        <p>@item.Descricao</p>
    </div>
 
</div>
}
